header {
    background-image: url('../img/ori-header-bg.jpg');
    padding: 154px 0 100px;
}

body {
    background-color: #F8F9FA;
}

.indent {
    text-indent: 30px;
}

.img {
    display: inline-block;
    padding: 0 10px;
    width: 300px;
}

li {
    list-style: none
}

#menu-toggle {
    z-index: 10; /* Temp fix */
    position: fixed;
    top: 20px;
}

.full-width {
    width: auto;
}

@media only screen and (max-width: 720px) {
    .full-width {
        width: 100%;
    }
}