header {
    background-image: url('../img/ori-header-bg.jpg');
    padding: 154px 0 100px;
}

body {
    background-color: #f8f9fa;
}

.indent {
    text-indent: 30px;
}

.img {
    display: inline-block;
    padding: 0 10px;
    width: 300px;
}

li {
    list-style: none
}

#menu-toggle {

    position: fixed;
    top: 20px;
}